Knowledgebase.json
{
  "name": "First RAG agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Hx5iRpOO2cpIUIySK5JEAmZ4y7Oi1bzx",
          "mode": "list",
          "cachedResultName": "plot suggestion",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Hx5iRpOO2cpIUIySK5JEAmZ4y7Oi1bzx"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -48
      ],
      "id": "9237d6ce-fc86-490b-b346-fc160f06e2c7",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XPdrLByZ7gDE6U4A",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ccFqua2vVAKfkbHALEwKpyeDj2-23Rjl",
          "mode": "list",
          "cachedResultName": "plot_recommendation_knowledgebase.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1ccFqua2vVAKfkbHALEwKpyeDj2-23Rjl/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        -48
      ],
      "id": "53c4a868-d176-492b-b1b0-5e70f46f69ef",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XPdrLByZ7gDE6U4A",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "portfolio",
          "mode": "list",
          "cachedResultName": "portfolio"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        112,
        -48
      ],
      "id": "cee106f0-8350-4f50-8fae-d9fe45cead63",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "zq0bEWQd9OnswmRs",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Google Drive').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        352,
        192
      ],
      "id": "dd49e7f7-f12e-46f4-be3d-37e885c62e47",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        368,
        320
      ],
      "id": "b755b135-d49b-426d-9e91-0efe42b02621",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        192
      ],
      "id": "75446919-62e3-45a1-88fc-2eedf728b7c0",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "FibEkzq89lAhTxkX",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6bc7d63b-a23a-4482-969f-8a0bd181b220",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3b467644dfa8e0c6797928cc6d8bf68d9415ef612f9ba2a0d45772e9aff0f75"
  },
  "id": "sJckAAyTCw2y8Lz3",
  "tags": []
}
